@font-face {
  font-family: "Springville Regular";
  src: url("./fonts/Springville-Regular3.otf");
}

@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("./fonts/ACaslonPro-Regular.otf");
}

$min_width: 320px;
$max_width: 1440px;
$page_height: 2725px;
$mobile_page_height: 3400px;
$med_grey: #767676;

html {
  box-sizing: border-box;
  min-width: $min_width;
}

body {
  font-family: "Avenir";
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: $page_height;
  align-items: center;
}

.height-spacer {
  flex: 1;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.navbar {
  position: fixed;
  width: 100%;
  max-width: $max_width;
  top: 0;
  background-color: white;
  height: 120px;
  z-index: 20;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.navbar-navigation {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-logo {
  cursor: pointer;
  background-image: url("./images/ko_logo_text.png");
  background-size: cover;
  height: 100px;
  width: 100px;
}

#header-pipe {
  height: 40px;
  width: 1.5px;
  background-color: black;
}

.navigation-items {
  display: flex;
  font: light 11px "Avenir", sans-serif;
  color: $med_grey;
  align-items: center;
}

.navigation-items div {
  padding: 0 0.5rem;
  cursor: pointer;
}

.navigation-items div:hover {
  color: #e0e0e0;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.hamburger-button:focus {
  outline: none;
}

.hamburger-button-line {
  width: 16px;
  height: 2px;
  background-color: black;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel {
  max-width: $max_width;
  width: 100vw;
  height: 680px;
  top: 120px;
}

.my-carousel .carousel .carousel-slider {
  top: 120px;
  height: 680px;
  background: transparent;
}

.image-slide {
  height: 100%;
  width: 100%;
}

.image-slide img {
  object-fit: none;
  height: 560px;
}

.my-carousel .carousel .control-dots {
  position: relative;
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  margin-left: -18px;
}

.my-carousel .carousel .control-dots .dot {
  background: #e6e6e6;
  box-shadow: none;
}

.my-carousel .carousel .control-dots .dot.selected {
  background: #e0e0e0;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 560px;
  max-width: $max_width;
  z-index: 10;
  top: 120px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-text {
  padding-left: calc(100vw * 0.1);
  padding-right: calc(100vw * 0.1);
}

.overlay h1 {
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.overlay p {
  font-family: "Avenir", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: -15px;
  width: 50vw;
}

.content {
  width: 100%;
  flex: 1;
  max-width: $max_width;
  background-color: #feefce;
}

.presenter-text {
  text-decoration: underline;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $max_width;
  height: 100px;
  font-family: "Avenir", sans-serif;
  font-size: 15px;
}

.footer-logo {
  background-image: url("./images/ko_logo_no_text.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
}

.footer-left {
  display: flex;
  padding-left: 50px;
  justify-content: space-between;
  align-items: center;
  width: 380px;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding-right: 50px;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  color: #767676;
}

@media only screen and (min-width: 1440px) {
  .overlay-text {
    padding-left: 140px;
  }
}

@media only screen and (min-width: 747px) and (max-width: 1260px) {
  .App {
    height: $mobile_page_height;
  }

  .wrapper {
    height: $mobile_page_height;
  }

  .masonry {
    column-count: 2;
    width: 90%;
    column-gap: 5%;
  }
}

@media only screen and (min-width: 450px) and (max-width: 747px) {
  .App {
    height: $mobile_page_height;
  }

  .wrapper {
    height: $mobile_page_height;
  }

  .carousel {
    height: calc(100vw * 0.9);
  }

  .my-carousel .carousel.carousel-slider {
    height: calc(100vw * 0.9);
    overflow: hidden;
  }

  .image-slide img {
    height: calc(100vw * 0.75);
  }

  .overlay {
    top: calc(100vw * 0.4);
  }

  .overlay h1 {
    font-size: 55px;
    line-height: 40px;
  }

  .overlay h3 {
    font-size: 20px;
    margin-top: 20px;
  }

  .overlay p {
    font-size: 15px;
    margin-top: -20px;
  }

  .masonry {
    column-count: 2;
    width: 90%;
    column-gap: 5%;
    margin-top: 100px;
  }

  .masonry-item-title {
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 450px) {
  .App {
    height: 2800px;
  }

  .wrapper {
    height: 2800px;
  }

  .carousel {
    height: calc(100vw * 0.9);
    top: 50px;
  }

  .overlay {
    top: calc(100vw * 0.2);
  }

  .overlay h1 {
    font-size: 50px;
    line-height: 40px;
  }

  .overlay h3 {
    font-size: 20px;
    margin-top: 20px;
  }

  .overlay p {
    font-size: 15px;
    margin-top: -20px;
  }

  .my-carousel .carousel .carousel-slider {
    height: calc(100vw * 0.9);
  }

  .navbar {
    height: 50px;
    min-width: $min_width;
  }

  .navbar-login {
    display: none;
  }

  .navbar-phone {
    display: none;
  }

  .image-slide img {
    height: calc(100vw * 0.75);
  }

  .footer {
    font-size: 8px;
    padding: 25px;
  }

  .masonry {
    column-count: 2;
    width: 90%;
    column-gap: 5%;
    margin-top: 50px;
  }

  .masonry-item-title {
    word-wrap: break-word;
  }

  .hamburger-button-line {
    width: 20px;
  }

  .hamburger-button {
    width: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .App {
    height: 2500px;
  }

  .wrapper {
    height: 2500px;
  }

  .overlay {
    top: calc(100vw * 0.17);
  }

  .masonry {
    column-count: 2;
    width: 90%;
    column-gap: 5%;
    margin-top: 50px;
  }

  .masonry-item-title {
    font-size: 40px;
    word-wrap: break-word;
    line-height: 45px;
  }

  .hamburger-button-line {
    width: 20px;
  }

  .hamburger-button {
    width: 20px;
  }
}
