@font-face {
  font-family: "Springville Regular";
  src: url("./fonts/Springville-Regular3.otf");
}

@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("./fonts/ACaslonPro-Regular.otf");
}

$min_width: 320px;
$max_width: 1440px;
$page_height: 2725px;
$mobile_page_height: 3400px;
$med_grey: #767676;

html {
  box-sizing: border-box;
  min-width: $min_width;
}

body {
  font-family: "Avenir";
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: $page_height;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.navbar {
  position: fixed;
  width: 100%;
  max-width: $max_width;
  top: 0;
  background-color: white;
  height: 120px;
  z-index: 20;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.navbar-navigation {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-logo {
  cursor: pointer;
  background-image: url("./images/ko_logo_text.png");
  background-size: cover;
  height: 100px;
  width: 100px;
}

#header-pipe {
  height: 40px;
  width: 1px;
  background-color: black;
}

.navigation-items {
  display: flex;
  font: light 11px "Avenir", sans-serif;
  color: $med_grey;
  align-items: center;
}

.navigation-items div {
  padding: 0 0.5rem;
  cursor: pointer;
}

.navigation-items div:hover {
  color: #e0e0e0;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2px 0px;
  height: 40px;
  width: 16px;
  margin-left: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.hamburger-button:hover {
  .hamburger-button-line {
    color: grey;
  }
}

.hamburger-button:focus {
  outline: none;
}

.hamburger-button-line {
  width: 16px;
  height: 2px;
  background-color: black;
}

.fas.fa-bars {
  font-size: 30px;
  color: black;
}

.fa-bars {
  border-radius: 0;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel {
  max-width: $max_width;
  width: 100vw;
  height: 680px;
  top: 120px;
}

.my-carousel .carousel .carousel-slider {
  top: 120px;
  height: 680px;
  background: transparent;
}

.image-slide {
  height: 100%;
  width: 100%;
}

.image-slide img {
  object-fit: none;
  height: 560px;
}

.my-carousel .carousel .control-dots {
  position: relative;
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  margin-left: -18px;
}

.my-carousel .carousel .control-dots .dot {
  background: #e6e6e6;
  box-shadow: none;
}

.my-carousel .carousel .control-dots .dot.selected {
  background: #e0e0e0;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 560px;
  max-width: $max_width;
  z-index: 10;
  top: 120px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max_width;
  padding-left: 138px;
  padding-right: 138px;
}

.overlay h1 {
  font-family: "Avenir Next", sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.overlay p {
  font-family: "Avenir Next", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: -15px;
  width: 50vw;
}

.content {
  width: 100%;
  flex: 1;
  max-width: $max_width;
  background-color: #feefce;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announce-wrapper {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

#announce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: white;
  max-width: 1161px;
  padding: 50px 50px;
  margin-left: 138px;
  margin-right: 138px;
}

#announce-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 50%;
}

#announce-title {
  font-family: "Avenir Next", sans-serif;
  font-weight: 300;
  font-size: 55px;
  padding: 0;
  margin: 0;
}

#announce-logo {
  background-image: url("./images/ko_logo_no_text.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
}
#info-div-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

#info-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 900px;
  width: 100%;
  max-width: 1161px;
  background-color: white;
  padding: 50px 50px;
  margin-left: 138px;
  margin-right: 138px;
}

#info-box-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info-box-one-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  height: 337px;
  max-height: 337px;
}

#info-box-two-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  height: 337px;
  max-height: 337px;
  text-align: right;
}

#info-div-hr {
  width: 100%;
  position: relative;
}

#info-box-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info-box-small-text {
  font-size: 20px;
  margin-right: 20px;
}

#info-box-small-text-two {
  font-size: 20px;
  margin-left: 20px;
  margin-top: -30px;
}

#info-div h2 {
  font-family: "Avenir Next", sans-serif;
  font-weight: 300;
  font-size: 55px;
  padding: 0;
  margin-top: -14px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $max_width;
  height: 100px;
  font-family: "Avenir", sans-serif;
  font-size: 15px;
}

.footer-logo {
  background-image: url("./images/ko_logo_no_text.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
}

.footer-left {
  display: flex;
  padding-left: 50px;
  justify-content: space-between;
  align-items: center;
  width: 380px;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding-right: 50px;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  color: #767676;
}

@media only screen and (min-width: 1285px) and (max-width: 1440px) {
  #info-box-one-text {
    height: 20vw;
    margin-top: -41px;
  }

  #info-box-two-text {
    height: 20vw;
    margin-top: -41px;
  }

  #info-box-small-text {
    margin-top: -40px;
  }

  #info-div a {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1280px) {
  #info-div img {
    height: 25vw;
    max-width: 506px;
    width: auto;
  }

  #info-div h2 {
    font-size: 45px;
  }

  #info-box-one-text {
    height: 20vw;
    margin-top: -41px;
  }

  #info-box-two-text {
    height: 20vw;
    margin-top: -41px;
  }

  #info-box-small-text {
    margin-top: -40px;
    font-size: 17px;
  }

  #info-box-small-text-two {
    margin-top: -40px;
    font-size: 17px;
  }

  #info-div a {
    font-size: 12px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 1100px) {
  #info-box-one {
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
  }

  #info-box-two {
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 40%;
  }

  #info-div {
    height: 1500px;
  }

  .wrapper {
    height: 3200px;
  }

  #info-div h2 {
    margin-top: 0;
    font-size: 50px;
    line-height: 50px;
  }

  #info-box-one-text {
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 506px;
    height: 20vw;
  }

  #info-box-small-text {
    font-size: 15px;
    text-align: right;
    margin-right: 0;
    margin-top: 0;
  }

  #info-div p {
    margin-top: 0;
  }

  #info-box-two-text {
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    width: 506px;
    height: 20vw;
  }

  #info-box-small-text-two {
    font-size: 15px;
    text-align: right;
    margin-right: 0;
    margin-top: 0;
  }
}
