@font-face {
  font-family: "Springville Regular";
  src: url("./fonts/Springville-Regular3.otf");
}

@font-face {
  font-family: "Adobe Caslon Pro";
  src: url("./fonts/ACaslonPro-Regular.otf");
}

$min_width: 320px;
$max_width: 1440px;
$page_height: 2725px;
$mobile_page_height: 3400px;
$med_grey: #767676;

html {
  box-sizing: border-box;
  min-width: $min_width;
}

body {
  font-family: "Avenir";
  font-weight: 300;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: $page_height;
  align-items: center;
}

.height-spacer {
  flex: 1;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.navbar {
  position: fixed;
  width: 100%;
  max-width: $max_width;
  top: 0;
  background-color: white;
  height: 120px;
  z-index: 20;
}

.navbar-left {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.navbar-navigation {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-logo {
  cursor: pointer;
  background-image: url("./images/ko_logo_text.png");
  background-size: cover;
  height: 100px;
  width: 100px;
}

#header-pipe {
  height: 40px;
  width: 1px;
  background-color: black;
}

.navigation-items {
  display: flex;
  font: light 11px "Avenir", sans-serif;
  color: $med_grey;
  align-items: center;
}

.navigation-items div {
  padding: 0 0.5rem;
  cursor: pointer;
}

.navigation-items div:hover {
  color: #e0e0e0;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.hamburger-button:focus {
  outline: none;
}

.hamburger-button-line {
  width: 16px;
  height: 2px;
  background-color: black;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel {
  max-width: $max_width;
  width: 100vw;
  height: 680px;
  top: 120px;
}

.my-carousel .carousel .carousel-slider {
  top: 120px;
  height: 680px;
  background: transparent;
}

.image-slide {
  height: 100%;
  width: 100%;
}

.image-slide img {
  object-fit: none;
  height: 560px;
}

.my-carousel .carousel .control-dots {
  position: relative;
  bottom: 0px;
  text-align: center;
  width: 100%;
  margin: 10px 0;
  margin-left: -18px;
}

.my-carousel .carousel .control-dots .dot {
  background: #e6e6e6;
  box-shadow: none;
}

.my-carousel .carousel .control-dots .dot.selected {
  background: #e0e0e0;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 560px;
  max-width: $max_width;
  z-index: 10;
  top: 120px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max_width;
  padding-left: 138px;
  padding-right: 138px;
}

.overlay h1 {
  font-family: "Avenir Next", sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.overlay p {
  font-family: "Avenir Next", sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin-top: -15px;
  width: 50vw;
}

.content {
  width: 100%;
  flex: 1;
  max-width: $max_width;
  background-color: #feefce;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announce-wrapper {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

#announce {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  background-color: white;
  max-width: 1161px;
  padding: 100px 100px;
  margin-left: 138px;
  margin-right: 138px;
}

#announce-title {
  font-family: "Avenir Next", sans-serif;
  font-weight: 200;
  font-size: 40px;
}
.presenter-text {
  text-decoration: underline;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $max_width;
  height: 100px;
  font-family: "Avenir", sans-serif;
  font-size: 15px;
}

.footer-logo {
  background-image: url("./images/ko_logo_no_text.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
}

.footer-left {
  display: flex;
  padding-left: 50px;
  justify-content: space-between;
  align-items: center;
  width: 380px;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  padding-right: 50px;
}

.footer-link {
  text-decoration: none;
  cursor: pointer;
}

.footer-link:hover {
  color: #767676;
}
